version: '3.8'

services:
  staging:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-staging
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_ENV=staging
    networks:
      - webnet

  production:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-production
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_ENV=production
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - SMTP_SECURE=${SMTP_SECURE}
      - SMTP_FROM=${SMTP_FROM}
    networks:
      - webnet
    profiles:
      - prod

networks:
  webnet:
    driver: bridge
